<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!--<include file="$(find delta_robot_simulation)/config/PIP_config.xml" />-->

    <include file="$(find gazebo_ros)/launch/bullet_world.launch">
        <arg name="extra_gazebo_args" default="--verbose" />
    </include>

    <arg name="sdf_robot_file" default="$(find delta_robot_simulation)/urdf/codian.sdf" />

    <arg name="z_angle_1" value= "$(arg 1/rz)" />
    <arg name="z_angle_2" value= "$(arg 2/rz)" />

    <arg name="pi" value= "3.141592653589793238" />
    <arg name="rZ1" value= "$(eval (z_angle_1-90) * pi/180)" />
    <arg name="rZ2" value= "$(eval (z_angle_2-90-120) * pi/180)" />

    <node name="robot_spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-file $(arg sdf_robot_file) -sdf -x $(arg 1/x) -y $(arg 1/y) -z $(arg 1/z) -Y $(arg rZ1) -model $(arg 1/robot_name)"/> <!-- Y -1.5707963268-->

    <node name="robot_spawn_urdf2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-file $(arg sdf_robot_file) -sdf -x $(arg 2/x) -y $(arg 2/y) -z $(arg 2/z) -Y $(arg rZ2) -model $(arg 2/robot_name)"/><!-- Y 0.55850536064-->

    <node name="robot_spawn_urdf3" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-file $(find delta_robot_simulation)/urdf/conveyor.urdf -urdf -z 1.08 -model conveyor"/> <!-- Z was 1.08-->

    <node name="robot_control" pkg="delta_robot_simulation" type="udp_server.py" respawn="true"/>
    <node name="potato_control" pkg="delta_robot_simulation" type="udp_objects.py" respawn="true"/>
</launch>